<!--#used to enter new dash own list-->
{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>HI {{person}}</h3>
<h3>{{ message }}</h3>

<form method="post" action="{% url 'dashownlist' %}">

    {% csrf_token %}
    {{ form.as_p }}

    {% if form.errors %}
    <p style="color: red;">{{ form.errors }}</p>
    {% endif %}

    {% if error_message %}
    <p style="color: red;"> {{ error_message }}</p>
    {% endif %}

    <input type="submit" name="createStockList" id="StockList" value="Enter list name">
</form>
<table class="TD100L">
    <tr class="TD70L">
        <td class="TD100L">
            <h3>  click for Chart of   Dash own list </h3>
        </td>
    </tr>
    <tr class="TD70L">
        <td class="TD100L">
            {{ clickstocks|safe }}
        </td>
    </tr>
</table><!--message is the click-->
{% endblock %}
