<!--<p> used for new dash watch list</p>-->
{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>HI {{person}}</h3>
<h3>{{ message }}</h3>

<form method="post" action="{% url 'dashwatchlist' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if form.errors %}
    <p style="color: red;">{{ form.errors }}</p>
    {% endif %}
    <p style="color: red;"> {{ error_message }}</p>

    <input type="submit" name="createStockList" id="StockList" value="Enter list name">
</form>
{% endblock %}

