{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<form method="post" action="{% url 'enterstocklist' %}">
    {% csrf_token %}



    <!--Render form fields
    {{ form.as_p }}-->

    <!-- Custom HTML form fields -->
    <div class="form-group">
        <label for="name"> List Name:</label>
        <input type="text" id="name" name="name">
    </div>



    {% if form.errors %}
    <p style="color: red;">{{ form.errors }}</p>
    {% endif %}
    <p style="color: red;"> {{ error_message }}</p>

    <input type="submit" name="createStockList" id="StockList" value="Create list">
</form>
{% endblock %}


