{% extends "app/layout.html" %}
{% block content %}
{% csrf_token %}
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<span id="stock-data" style="display: none;">
    {{ stock | safe }}</span>

    <div id="1" onclick="CallBack(1, 'BIO')" style="display: inline-block;">BIO </div>
    <div id="2" onclick="CallBack(2, 'C')" style="display: inline-block;">C </div>

    <table style="width:100%;">
        <tr class="TR100">
            <td class="TD70L"><canvas id="ChartReal" width="130" height="75"></canvas></td>
        </tr>
    </table>

    <script>
        var jsonData2 = {{ json_data| safe }};
        const symbolin = document.getElementById('stock-data').textContent;
        
    </script>

    <script>
        var myChart;    // Assume the chart instance is a global variable

        window.onload = function () {
            chartdata(jsonData2, symbolin);
        }

        function chartdata(jsonDatain, symbolx) {

            jsonDatain.forEach(entry => {
                entry.Date = new Date(entry.Date);
            });

            var xValues = jsonDatain.map(entry => entry.Date.toLocaleDateString());
            var openValues = jsonDatain.map(entry => entry.Open);
            var closeValues = jsonDatain.map(entry => entry.Close);
            var MA20Values = jsonDatain.map(entry => entry.MA20);
            var MA50Values = jsonDatain.map(entry => entry.MA50);
            var UpperBolValues = jsonDatain.map(entry => entry.UpperBol);
            var lowerBolValues = jsonDatain.map(entry => entry.LowerBol);
            var UpperminusPerValues = jsonDatain.map(entry => entry.UpperminusPer);
            var lowerPlusPerValues = jsonDatain.map(entry => entry.lowerPlusPer)

            //var difBolValues = jsonData2.map(entry => entry.difBol);
            //var CloseGtrupperValues = jsonData2.map(entry => entry.CloseGtrupper);
            //var CloseGtrPlusPerValues = jsonData2.map(entry => entry.CloseGtrPlusPer);
            //var CloseLowerLowerValues = jsonData2.map(entry => entry.CloseLowerLower);
            //var CloseLowerPlusPerValues = jsonData2.map(entry => entry.CloseLowerPlusPer);
            //var CloseMinusMA20Values = jsonData2.map(entry => entry.CloseMinusMA20);
            //var CloseMinusMA50Values = jsonData2.map(entry => entry.CloseMinusMA50);
            //var SMA20MinusMA50Values = jsonData2.map(entry => entry.SMA20MinusMA50)

            myChart = new Chart("ChartReal", {
                type: "line",
                font: {
                    size: 30,
                    weight: 'bold'
                },
                data: {
                    labels: xValues,
                    datasets: [
                        {
                            fill: false,        //fills in a bar chart
                            lineTension: 0,     // stright line
                            backgroundColor: "rgba(255,0,6,1)",   //color to fill in
                            borderColor: "rgba(0,0,7,1)",
                            data: openValues,
                            label: 'Open',
                            borderWidth: 3,
                            hidden: true,
                            FontFace: 'bold'

                        },

                        {
                            fill: false,        //fills in a bar chart
                            lineTension: 0,     // stright line
                            backgroundColor: "rgba(255,0,0,1)",   //color to fill in
                            borderColor: "rgba(0,0,0,1)",
                            data: closeValues,
                            label: 'Close',
                            borderWidth: 3,
                            pointRadius: 1
                        },
                        {
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,255,0,1)",
                            borderColor: "rgba(55,255,255,1)",
                            data: MA20Values,
                            label: 'MA20',
                            borderWidth: 3,
                            pointRadius: 1
                        },
                        {
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(255,20,255,1)",
                            borderColor: "rgba(55,205,200,1)",
                            data: MA50Values,
                            label: 'MA50',
                            borderWidth: 3,
                            pointRadius: 1,
                            borderDash: [5, 5]
                        },
                        {
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1)",
                            borderColor: "rgba(0,0,255,1)",
                            data: UpperBolValues,
                            label: 'UpperBol',
                            borderWidth: 3,
                            pointRadius: 1
                        },
                        {
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1)",
                            borderColor: "rgba(0,0,255,1)",
                            data: lowerBolValues,
                            label: 'lowerBol',
                            borderWidth: 3,
                            pointRadius: 1
                        },
                        {
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1)",
                            borderColor: "rgba(0,255,0,1)",
                            data: UpperminusPerValues,
                            label: 'UpperminusPer',
                            borderWidth: 3,
                            pointRadius: 1
                        },
                        {
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(255,0,255,1)",
                            borderColor: "rgba(0,255,0,1)",
                            data: lowerPlusPerValues,
                            label: 'lowerPlusPer',
                            borderWidth: 2,
                            pointRadius: 1
                        }
                    ]
                },

                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: symbolx,
                            font: {
                                family: 'Verdana', // Set font family
                                size: 24, // Set font size
                                style: 'normal', // Set font style
                                weight: 'bold' // Set font weight
                            },
                            color: 'black',
                            position: 'top' // Position the title at the top
                        }
                    },

                    scales: {
                        x: {
                            display: true,
                            ticks: {
                                color: 'black',
                                font: { size: 12, weight: 'bold' },
                            },
                            grid: {
                                display: true,
                                color: ['red', 'orange',
                                    'yellow', 'green', 'blue'],

                                lineWidth: 2,
                                drawOnChartArea: true,
                            },
                            border: {
                                display: true,
                                color: 'purple',
                                width: 5,
                            },
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Dollar Value',
                                color: 'black',
                                font: { size: 12, weight: 'bold' },
                            },
                            ticks: {
                                color: 'Black',

                                font: { size: 12, weight: 'bold' },
                            },
                            grid: {
                                display: true,
                                color: ['red', 'orange',
                                    'yellow', 'green', 'blue'],

                                lineWidth: 2,
                                drawOnChartArea: true,
                            },

                        },
                    },
                },


            });
        };



        //callback when a symbol is clicked
        function CallBack(index, symbol) {

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value; //get csrf token from hidden input
            fetch('plotreq', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                }, //send back selected symbol
                body: JSON.stringify({ index: index, symbol: symbol }),
            })
                .then(response => response.json())
                .then(jd => {
                    const jdj = JSON.parse(jd)  //parse the json string
                    var lastDate = jdj[jdj.length - 1].Date;
                    var userFriendlyDate = new Date(lastDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });

                    //var element = document.getElementById('stock');
                    //element.innerHTML = 'Chart of  ' + symbol + '     last date ' + userFriendlyDate;
                    var symboldate = 'Chart of  ' + symbol + '     last date ' + userFriendlyDate
                    updatechartJ(myChart, jdj, symboldate);


                })

        }


        function updatechartJ(chart, datain, symbolx) {
            // get rid of old chart
            chart.destroy();
            chartdata(datain, symbolx);
            chart.update();
        }
    </script>
    {% endblock %}



